* {
    margin: 0;
    padding: 0;
    font-family: "titillium web";
}

@media (min-width: 0) {
    #hamburgerIcon {
        position: absolute;
        left: 50%;

        width: 50%;
        height: 100px;

        line-height: 100px;
        font-size: 32px;
    }

    #hamburgerIcon a {
        float: right;
        color: white;
        padding-right: 20px;
    }

    #linksContainer.responsive {
        position: relative;
        top: 100px;

        width: 100%;
        height: 0px;

        background:#4e598c;
        border-bottom: 2px solid #ffffff;
    
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #linksContainer.responsive a {
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;

        font-size: 0.5em;
    }

    #linksContainer a {
        display: none;
    }

    #brandTag {
        position: absolute;
        font-size: 13vw;
        padding-left: 5vw;
    }

    #dummyIcon {
        width: 13vw;
        height: 13vw;
    }

    .headText {
        left: 10vw;
    
        font-size: 10vw;
    }

    .paraText {
        font-size: 7vw;
    }

    #welcomeContainer {
        top: 150px;
        width: 80vw;
        height: 300px;
    }

    #welcomeButton {
        width: 80vw;
        height: 50px;

        font-size: 0.6em;
    }

    #welcomeImage {
        position: absolute;
        top: calc(300px + 30vw);
        left: 10vw;
    
        width: 80vw;
    }

    .buffer {
        height: 100vw;
    }

    #wrapper1 {
        width: 80vw;
        margin: 150px 10vw 0 10vw;
    }
}

@media (min-width: 270px) {
    #brandTag {
        font-size: 2em;
        padding-left: 30px;
    }

    #dummyIcon {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 380px) {
    .headText {
        left: 7vw;
    
        font-size: 8vw;
    }

    .paraText {
        font-size: 4vw;
    }

    #welcomeContainer {
        top: 150px;
        width: 80vw;
        height: 300px;
    }

    #welcomeButton {
        width: 70vw;
        height: 50px;

        font-size: 0.6em;
    }

    #welcomeImage {
        position: absolute;
        top: calc(300px + 10vw);
        left: 10vw;
    
        width: 80vw;
    }
}

@media (min-width: 600px) {
    .headText {
        top: 150px;
        left: 7vw;
    
        font-size: 7vw;
    }

    .paraText {
        font-size: 3.5vw;
    }

    #welcomeContainer {
        width: 60vw;
        height: 300px;
    }

    #welcomeButton {
        width: 60vw;
        height: 50px;

        font-size: 0.6em;
    }

    #wrapper1 {
        width: 600px;
        margin: 0 auto;
    }
}

@media (min-width: 800px) {
    #hamburgerIcon {
        display: none;
    }

    #linksContainer {
        position: absolute;
        left: 50%;

        width: 50%;
        height: 100px;
    
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #linksContainer a {
        display: block;
        opacity: 1;
    }

    .headText {
        top: 200px;
        left: 100px;
    
        font-size: 3em;
    }

    .paraText {
        font-size: 1.5em;
    }

    #welcomeContainer {
        width: 600px;
        height: 300px;
    }

    #welcomeButton {
        width: 300px;
        height: 50px;

        font-size: 0.4em;
    }

    #welcomeImage {
        position: absolute;
        top: 400px;
        left: 10vw;
    
        width: 80vw;
    }
}

@media (min-width: 1200px) {
    #welcomeImage {
        position: relative;
        top: -150px;
        left: 750px;
    
        width: 500px;
    }

    .buffer {
        height: 0;
    }
}

#headerContainer {
    position: absolute;

    width: 100%;
    height: 600px;
}

#headerBlue {
    width: 100%;
    height: 300px;

    background: #4e598c;
}

#headerGradient {
    width: 100%;
    height: 250px;

    background: linear-gradient(170deg, rgba(78,89,140,1) 50%, rgba(255,255,255,1) 50%);
}

#headerWhite {
    width: 100%;
    height: 50px;

    background: #ffffff;
}

#navigationBar {
    width: 100%;
    height: 100px;

    box-sizing: border-box;
    border-bottom: 3px solid #ffffff;

    /* #f9c784 */

    display: flex;
    flex-direction: row;
}

#brandTag {
    width: 50%;
    height: 100px;

    color: #ffffff;
    line-height: 100px;
}

#dummyIcon {
    fill: white;
}

.navigationLink {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;

    flex-grow: 1;

    transition: color 200ms ease-out;
}

.navigationLink:hover {
    color: #f9c784;
}

#welcomeContainer {
    position: relative;
    color: #ffffff;
}

#welcomeButton {
    line-height: 50px;
    font-weight: 600;
    background: #f9c784;
    color: #000000;

    border: none;
    border-radius: 25px;

    transition: color 500ms ease-out, background 500ms ease-out;
}

#welcomeButton:hover {
    background: #000000;
    color: #ffffff;
    cursor: pointer;
}

#welcomeImage a img {
    width: 100%;
}

.buffer {
    position: static;
    width: 100%;
}

#wrapper1 {
    height: 200px;
}

.paraText { 
    margin-top: 10px;
}

.highlight {
    color: #ff8c42;
}

.test{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}